<!-- Footer -->
<footer class="bg-brown text-light py-4">
    <div class="container">
      <div class="row text-center text-md-start">
        <div class="col-md-3 mb-3">
          <img src="/public/images/logo.png" alt="The Coffee Corner logo" width="80" height="80" class="img-fluid ms-5 mt-5"/>
          <h5>The Coffee Corner</h5>
        </div>
        <div class="col-md-3 mb-3">
          <h5>Products</h5>
          <ul class="list-unstyled">
            <li>
              <a class="text-light text-decoration-none" href="#">Beans</a>
            </li>
            <li>
              <a class="text-light text-decoration-none" href="#">Grounds</a>
            </li>
            <li>
              <a class="text-light text-decoration-none" href="#">Capsules</a>
            </li>
            <li>
              <a class="text-light text-decoration-none" href="#">Brew Tools</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-3">
          <h5>Help</h5>
          <ul class="list-unstyled">
            <li>
              <a class="text-light text-decoration-none" href="#">FAQs</a>
            </li>
            <li>
              <a class="text-light text-decoration-none" href="#">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-3">
          <h5>More</h5>
          <ul class="list-unstyled">
            <li>
              <a class="text-light text-decoration-none" href="#">Brew Guides</a>
            </li>
          </ul>
        </div>
      </div>
      <p class="text-center mt-3">&copy; 2024 The Coffee Corner. All rights reserved.</p>
    </div>
  </footer>
  