<h1 class="text-center p-5">BEST SELLERS</h1>
    <div class="container-fluid">
      <div class="row">

        <!--san pham 1-->
        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="pro-container card mb-4">
            <img src="/public/images/casa.png" class="card-img-top" alt="Casa">
            <div class="card-body d-flex justify-content-between">
              <div class="des">
                <h5 class="card-title">Casa</h5>
                <div class="star">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star"></i>
                </div>
                <p class="card-text">20$</p>
              </div>
              <button type="button" class="btn btn-primary px-4"><i class="fs-4 bi bi-cart2"></i></button>
            </div>
          </div>
        </div>

        <!--san pham 2-->
        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="pro-container card mb-4">
            <img src="/public/images/aromacraft.png" class="card-img-top" alt="AromaCraft">
            <div class="card-body d-flex justify-content-between">
              <div class="des">
                <h5 class="card-title">AromaCraft</h5>
                <div class="star">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-half"></i>
                </div>
                <p class="card-text">15$</p>
              </div>
              <button type="button" class="btn btn-primary px-4"><i class="fs-4 bi bi-cart2"></i></button>
            </div>
          </div>
        </div>

        <!--san pham 3-->
        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="pro-container card mb-4">
            <img src="/public/images/zenbean.png" class="card-img-top" alt="ZenBean">
            <div class="card-body d-flex justify-content-between">
              <div class="des">
                <h5 class="card-title">ZenBean</h5>
                <div class="star">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </div>
                <p class="card-text">20$</p>
              </div>
              <button type="button" class="btn btn-primary px-4"><i class="fs-4 bi bi-cart2"></i></button>
            </div>
          </div>
        </div>

        <!--san pham 4-->
        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="pro-container card mb-4">
            <img src="/public/images/capsules4.png" class="card-img-top" alt="Cosmo">
            <div class="card-body d-flex justify-content-between">
              <div class="des">
                <h5 class="card-title">Cosmo</h5>
                <div class="star">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </div>
                <p class="card-text">33$</p>
              </div>
              <button type="button" class="btn btn-primary px-4"><i class="fs-4 bi bi-cart2"></i></button>
            </div>
          </div>
        </div>

        <!--san pham 5-->
        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="pro-container card mb-4">
            <img src="/public/images/koko.png" class="card-img-top" alt="KoKo">
            <div class="card-body d-flex justify-content-between">
              <div class="des">
                <h5 class="card-title">Koko</h5>
                <div class="star">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </div>
                <p class="card-text">22$</p>
              </div>
              <button type="button" class="btn btn-primary px-4"><i class="fs-4 bi bi-cart2"></i></button>
            </div>
          </div>
        </div>

      </div>
    </div>