    <div class="container-fluid">
      <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-4">
          <img class="img-fluid rounded mx-auto d-block" src="/public/images/aromacraft.png" alt="Display photo">
        </div>

        <div class="pro-details col-12 col-sm-12 col-md-6 col-lg-6 my-4">
          <h2 class="mb-3">AromaCraft (Grounds)</h1>
          <div class="pro-price">15.00$</div>
          <div class="rating">
            <div class="star">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-half"></i>
            </div>
            <div class="star-number">(4.5)</div>
          </div>
          <input type="number" value="1">
          <button type="button" class="btn-coffee">Add To Cart</button>
          <h3 class="py-4 mb-0">Product Details</h3>
          <p>
            AromaCraft offers an exquisite coffee experience for connoisseurs and casual drinkers alike. Sourced from select high-altitude estates, each bean in our signature blend has been meticulously roasted to unlock complex flavor profiles reminiscent of caramel and cocoa with subtle fruity undertones. Our commitment to quality ensures every sip delivers a rich, smooth taste that's both invigorating and satisfying. Perfect for starting your day or as an elegant finish to any meal, AromaCraft comes in our specially designed freshness-sealed packaging—guaranteeing you enjoy our coffee at its peak flavor every time.
          </p>
        </div>

      </div>
    </div>