    <div class="container-fluid">
      <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-4">
          <img class="img-fluid rounded shadow-lg mx-auto d-block" src="/public/images/bitbrew.png" alt="Display photo">
        </div>

        <div class="pro-details col-12 col-sm-12 col-md-6 col-lg-6 my-4">
          <h2 class="mb-3">BitBrew (Grounds)</h1>
          <div class="pro-price">15.00$</div>
          <div class="rating">
            <div class="star">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star"></i>
            </div>
            <div class="star-number">(4.0)</div>
          </div>
          <input type="number" value="1">
          <button type="button" class="btn-coffee">Add To Cart</button>
          <h3 class="py-4 mb-0">Product Details</h3>
          <p>
            Experience the bold fusion of tradition and innovation with BitBrew Kenya Dark Roast. Sourced from the highlands of Kenya, our beans are roasted to perfection to unlock rich, intense flavors that satisfy your digital-age lifestyle. Each sip promises a journey through notes of citrus and cocoa, culminating in a smooth finish that energizes your day.
          </p>
        </div>

      </div>
    </div>