@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* style tong the */
body {
    background-color: #F3F3E0 !important;
}

.bg-yellow {
    background-color: #CBD2A4 !important;
}

.bg-brown {
    background-color: #5e4a3c;
}

/* nut bam */
.btn-coffee {
    background-color: #9A7E6F !important; /* Coffee brown */
    color: white !important;
    border: none !important;
    transition: 0.2s ease;
}

.btn-coffee:hover {
    background-color: #988378 !important;
    transition: 0.2s ease;
}

.btn-coffee:active {
    background-color: #9f8779 !important;
    transition: 0.2s ease;
}

/* hinh giao dien chinh */
.hero-section {
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: overlay;
}

.hero-section h1 {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.hero-section p {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

/*the san pham*/
.pro-container {
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
    transition: 0.2s ease;
}

.pro-container:hover {
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
}

.card-title, .card-text {
    color: #333333;
}

.card {
    border: none;
}

/* trang tung san pham */
.pro-details input {
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 5px;
}

.pro-details button {
    padding: 10px;
    margin-left: 5px;
    border-radius: 10px;
}

.pro-price {
    font-size: 35px;
    font-weight: bold;
}

.pro-details .rating {
    display: flex;
    align-items: center;
    gap: 13px;
}

.pro-details .star {
    padding: 15px 0;
}

.pro-details p {
    font-size: 17px;
}

/* trang lien he */
.contact-details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

.contact-details li i {
    font-size: 14px;
    padding-right: 22px;
}

.map iframe {
    width: 100%;
    height: 400px;
}

.feedback {
    display: grid;
}

/* trang pha che */
.content-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.recipe-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.recipe-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.recipe-details {
    padding: 20px;
}

.recipe-details h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

    
 
/* Footer */
footer h5 {
    font-weight: bold;
    margin-bottom: 25px;
}

footer ul li {
    color: #f4f0e5;
    font-size: 16px;
    margin-bottom: 10px;
}

.copyright {
    text-align: center;
    margin-top: 30px;
}