  <!-- thong tin san pham -->
    <div class="container-fluid">
      <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-4">
          <img class="img-fluid rounded mx-auto d-block" src="/public/images/capsules4.png" alt="Display photo">
        </div>

        <div class="pro-details col-12 col-sm-12 col-md-6 col-lg-6 my-4">
          <h2 class="mb-3">Cosmo</h1>
          <div class="pro-price">33.00$</div>
          <div class="rating">
            <div class="star">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="star-number">(5.0)</div>
          </div>
          <input type="number" value="1">
          <button type="button" class="btn-coffee">Add To Cart</button>
          <h3 class="py-4 mb-0">Product Details</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam sint similique nostrum, dicta sit quaerat. Velit sapiente maiores autem assumenda, placeat, itaque impedit repellat a, accusamus reprehenderit perspiciatis quasi dolorum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nulla earum doloribus sed veritatis, qui odio enim, consequuntur iusto exercitationem soluta architecto adipisci laboriosam dolorem necessitatibus eos? Aperiam, quia voluptatibus?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum ab, pariatur laborum eaque quasi officia quis voluptatem mollitia repellendus dolorem, unde doloribus? Dolore voluptatibus iure magni libero quas doloremque quo.
          </p>
        </div>

      </div>
    </div>