<!--hinh giao dien-->
<div class="hero-section text-center py-5" style="background-image: url(/images/menu.png);">
  <div class="container">
    <h1 class="display-4 text-white">Welcome to The Coffee Corner</h1>
    <p class="lead">Enjoy the finest coffee experience</p>
  </div>
</div>

<!--san pham ban chay-->
<section class="py-5">
  <div class="container-fluid">
    <h2 class="mb-4">Best Seller</h2>
    <div class="row" id="bestSeller">

      <!--data tạm thời để render trang-->
      <% const bestSellers = [
        { name: 'AromaCraft', image: '/images/aromacraft.png', rating: 4.5, price: 15 },
        { name: 'Casa', image: '/images/casa.png', rating: 4.2, price: 20 },
        { name: 'ZenBean', image: '/images/zenbean.png', rating: 4.8, price: 20 }
      ]; %>


      <% bestSellers.forEach(bestSeller => { %>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="pro-container card mb-4">
          <img src="<%= bestSeller.image %>" class="card-img-top" alt="<%= bestSeller.name %>">
          <div class="card-body d-flex justify-content-between">
            <div class="des">
              <h5 class="card-title"><%= bestSeller.name %></h5>
              <div class="star">
                
              </div>
              <p class="card-text">${(bestSeller.priceCent / 100).toFixed(2)}$</p>
            </div>
            <button type="button"
              class="btn btn-primary px-4 addToCart"
              data-product-name="${product.name}"
              ><i class="fs-4 bi bi-cart2"></i></button>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <div class="d-grid gap-2 col-2 mx-auto">
      <button type="button" class="btn btn-secondary">Discover more</button>
    </div>
  </div>
</section>

<!--Cong thuc pha che-->
<section class="py-5">
  <div class="container-fluid text-center">
    <h2 class="mb-4">Explore our brew guides</h2>
    <div class="row">

      <div class="col-12 col-sm-12 col-md-6 col-6">
        <div class="pro-container card mb-4">
          <img src="/images/frappuccino.png" class="card-img-top" alt="Frappuccino Guide">
          <div class="card-body">
            <h5 class="card-title">Frappuccino</h5>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-6">
        <div class="pro-container card mb-4">
          <img src="/images/eggcoffee2.png" class="card-img-top" alt="Vietnamese Egg Coffee Guide">
          <div class="card-body">
            <h5 class="card-title">Vietnamese Egg Coffee</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="d-grid gap-2 col-2 mx-auto">
      <a href="/brewguides" class="btn btn-secondary">More</a>
    </div>
  </div>
</section>
