<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Coffee Corner</title>
	<link rel="icon" type="image/coffeecorner" href="/public/images/logo.png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/general.css">
</head>
<body>
  <!--Thanh dieu huong-->
  <div id="navbar"></div>

  <!--hinh giao dien-->
  <div class="hero-section text-center py-5" style="background-image: url(/public/images/menu.png);">
    <div class="container">
      <h1 class="display-4 text-white">Welcome to The Coffee Corner</h1>
      <p class="lead">Enjoy the finest coffee experience</p>
    </div>
  </div>

  <!--san pham ban chay-->
  <section class="py-5">
    <div class="container-fluid">
      <h2 class="mb-4">Best Seller</h2>

      <!--render san pham -->
      <div class="row" id="bestSeller"></div>

      <div class="d-grid gap-2 col-2 mx-auto">
        <button type="button" class="btn btn-secondary">Discover more</button>
      </div>
    </div>
  </section>

  <!--Cong thuc pha che-->
  <section class="py-5">
    <div class="container-fluid text-center">
      <h2 class="mb-4">Explore our brew guides</h2>
      <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-6">
          <div class="pro-container card mb-4">
            <img src="/public/images/frappuccino.png" class="card-img-top" alt="Frappuccino Guide">
            <div class="card-body">
              <h5 class="card-title">Frappuccino</h5>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-6">
          <div class="pro-container card mb-4">
            <img src="/public/images/eggcoffee2.png" class="card-img-top" alt="Vietnamese Egg Coffee Guide">
            <div class="card-body">
              <h5 class="card-title">Vietnamese Egg Coffee</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="d-grid gap-2 col-2 mx-auto">
        <a href="/view/layouts/brewguide/brewguide.html" class="btn btn-secondary">More</a>
      </div>
    </div>
  </section>

  <!--footer-->
  <div id="footer"></div>

  <script src="/public/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="/public/js/header-footer.js"></script>
  <script type="module" src="/public/js/index.js"></script>
</body>
</html>
