<!--danh muc san pham-->
<div class="container text-center">
  <div class="row my-5">
    <!--danh muc 1-->
    <div class="col">
      <div class="pro-container card">
        <a href="/products/beans">
          <img src="/images/beanscategory.png" class="card-img" alt="Beans">
          <div class="card-img-overlay">
            <div class="position-absolute top-50 start-50 translate-middle">
              <h5 class="card-title text-light">Beans</h5>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!--danh muc 2-->
    <div class="col">
      <div class="pro-container card">
        <a href="/products/grounds">
          <img src="/images/groundscategory.png" class="card-img" alt="Grounds">
          <div class="card-img-overlay">
            <div class="position-absolute top-50 start-50 translate-middle">
              <h5 class="card-title text-light">Grounds</h5>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!--danh muc 3-->
    <div class="col">
      <div class="pro-container card">
        <a href="/products/capsules">
          <img src="/images/capsulecategory.png" class="card-img" alt="Capsules">
          <div class="card-img-overlay">
            <div class="position-absolute top-50 start-50 translate-middle">
              <h5 class="card-title text-light">Capsules</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>