  <!-- thong tin san pham -->
    <div class="container-fluid">
      <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-4">
          <img class="img-fluid rounded shadow-lg mx-auto d-block" src="/public/images/bitbrew.png" alt="Display photo">
        </div>

        <div class="pro-details col-12 col-sm-12 col-md-6 col-lg-6 my-4">
          <h2 class="mb-3">BitBrew</h1>
          <div class="pro-price">15.00$</div>
          <div class="rating">
            <div class="star">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star"></i>
            </div>
            <div class="star-number">(4.0)</div>
          </div>
          <input type="number" value="1">
          <button type="button" class="btn-coffee">Add To Cart</button>
          <h3 class="py-4 mb-0">Product Details</h3>
          <p>
            BitBrew Kenya Dark Roast blends tradition and innovation, with beans sourced from Kenya's highlands and roasted to enhance bold, intense flavors of citrus and cocoa. The smooth finish offers an energizing experience, perfect for a digital-age lifestyle.
          </p>
        </div>

      </div>
    </div>