  <!-- thong tin san pham -->
    <div class="container-fluid">
      <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-4">
          <img class="img-fluid rounded mx-auto d-block" src="/public/images/casa.png" alt="Display photo">
        </div>

        <div class="pro-details col-12 col-sm-12 col-md-6 col-lg-6 my-4">
          <h2 class="mb-3">Casa</h1>
          <div class="pro-price">20.00$</div>
          <div class="rating">
            <div class="star">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star"></i>
            </div>
            <div class="star-number">(4.0)</div>
          </div>
          <input type="number" value="1">
          <button type="button" class="btn-coffee">Add To Cart</button>
          <h3 class="py-4 mb-0">Product Details</h3>
          <p>
            Casa coffee generally refers to a coffee blend or brand that focuses on providing a cozy, homey, and comforting coffee experience. The term "Casa" (Spanish for "house") often evokes warmth and familiarity, so coffee labeled as "Casa" might emphasize smooth, approachable flavors designed for everyday enjoyment.
          </p>
        </div>

      </div>
    </div>