  <!-- thong tin san pham -->
    <div class="container-fluid">
      <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 my-4">
          <img class="img-fluid rounded mx-auto d-block" src="/public/images/zenbean.png" alt="Display photo">
        </div>

        <div class="pro-details col-12 col-sm-12 col-md-6 col-lg-6 my-4">
          <h2 class="mb-3">ZenBean</h1>
          <div class="pro-price">20.00$</div>
          <div class="rating">
            <div class="star">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <div class="star-number">(5.0)</div>
          </div>
          <input type="number" value="1">
          <button type="button" class="btn-coffee">Add To Cart</button>
          <h3 class="py-4 mb-0">Product Details</h3>
          <p>
            ZenBean is likely a coffee brand or blend that emphasizes a calming, balanced coffee experience, aligning with the idea of zen or mindfulness. Although there isn't a widely known global brand by this name, the term "ZenBean" suggests a focus on quality, smoothness, and relaxation.
          </p>
        </div>

      </div>
    </div>