    <div class="container my-5">
      <h1 class="text-center mb-5 fs-2">Shopping Cart</h1>
      <div class="row">
        <!--gio hang-->
        <div class="cart-summary col-md-8"></div>

        <!-- tổng số tiền -->
        <div class="payment-summary col-md-4"></div>
      </div>
    </div>

    <script type="module" src="/public/js/checkout.js"></script>

