<h1 class="text-center p-5">BREW GUIDES</h1>
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="brew-container card mb-4">
        <img src="/public/images/frappuccino.png" class="card-img-top" alt="Frappuccino">
        <div class="card-body">
          <h5 class="card-title">Frappuccino</h5>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="brew-container card mb-4">
        <img src="/public/images/lemoncoffee2.png" class="card-img-top" alt="Lemon Coffee">
        <div class="card-body">
          <h5 class="card-title">Lemon Coffee</h5>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="brew-container card mb-4">
        <img src="/public/images/eggcoffee2.png" class="card-img-top" alt="Egg Coffee">
        <div class="card-body">
          <h5 class="card-title">Egg Coffee</h5>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <!-- Guide 4 -->
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="brew-container card mb-4">
        <img src="/public/images/espresso.png" class="card-img-top" alt="Espresso">
        <div class="card-body">
          <h5 class="card-title">Espresso</h5>
        </div>
      </div>
    </div>
    
  </div>

</div>