<!--hinh giao dien-->
  <section class="hero-section text-center py-5" style="background-image: url(/public/images/espresso.png);">
    <div class="container">
      <h1 class="display-4 text-white">Espresso</h1>
    </div>
  </section>
    <div class="container-fluid">
      <div class="row mt-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div>
            <h2>Description</h2>
            <p>
              Lemon coffee is a unique and invigorating beverage that blends the robust bitterness of coffee with the zesty tang of lemon. This unexpected pairing creates a drink that is both refreshing and energizing. The deep, rich flavor of brewed coffee provides a bold base, while the citrusy brightness of lemon juice adds a crisp, tangy edge, creating a balanced yet vibrant taste profile.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <dl>
            <dt>
              <span>Ingredients & Equipment</span>
            </dt>
            <dd>
              <ol>
                <li>
                  Freshly ground coffee (espresso roast preferred)
                </li>
                <li>
                  Espresso machine
                </li>
                <li>
                  Tamper
                </li>
              </ol>
            </dd>
          </dl>
        </div>
      </div>
    </div>

    <section class="py-3">
      <h3>1. Preheat the Machine</h3>
      <ul class="m-0">
        <li>
          Turn on the espresso machine and let it heat up. Preheat the portafilter by running hot water through it.
        </li>
      </ul>
    </section>
    
    <section class="py-3">
      <h3>2. Grind the Coffee</h3>
      <ul class="m-0">
        <li>
          Grind beans finely, resembling the texture of powdered sugar.
        </li>
      </ul>
    </section>

    <section class="py-3">
      <h3>3. Dose and Tamp</h3>
      <ul class="m-0">
        <li>
          Measure 18-20 grams (for a double shot). Place the grounds into the portafilter, then tamp evenly with firm pressure.
        </li>
      </ul>
    </section>

    <section class="py-3">
      <h3>4. Brew</h3>
      <ul class="m-0">
        <li>
          Lock the portafilter into the machine and start the extraction. Aim for 25-30 seconds for 1-2 ounces (30-60ml) of espresso.
        </li>
      </ul>
    </section>

    <section class="py-3">
      <h3>5. Serve</h3>
      <ul class="m-0">
        <li>
          Pour the espresso into a preheated cup.
        </li>
      </ul>
    </section>